body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
  /* padding: 0px 40px; */
}

@media (max-width: 768px) {
  body {
    font-size: 2rem !important;
    overflow-x: hidden;
  }
}

.hero-section {
  overflow-x: hidden;
}

.btn-custom {
  background-color: hsl(180, 66%, 49%);
  border: none;
  padding: 0.5rem 0.5rem;
  color: white;
}

.btn-custom:hover {
  background-color: hsl(180, 79%, 77%);
  color: white;
}

.navbar-text {
  color: hsl(257, 7%, 63%);
}

.navbar-text:hover {
  color: hsl(260, 8%, 14%);
}

.text {
  color: hsl(257, 7%, 63%);
  font-weight: 400 !important;
}

@media (max-width: 768px) {
  .text {
    font-size: 1rem;
    font-weight: 400 !important;
  }
}

.image-box {
  background-color: hsl(257, 27%, 26%);
  /* position: relative; */
  /* background:
    linear-gradient(hsl(257, 27%, 26%), hsl(257, 27%, 26%)),
    url("../asstes/images/desktop-shorten2.jpg"); */
  background-image: url("../asstes/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 120px;
  /* padding: 1rem;  */

  width: 100%;
  min-height: 120px;
  display: flex;
  align-items: center;
}

.last-image {
  background-color: hsl(257, 27%, 26%);

  background-image: url("../asstes/images/image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* min-height: 120px; */
  /* padding: 1rem;  */

  width: 100%;
  /* min-height: 120px; */
  display: flex;
  align-items: center;
}

.input-custom {
  height: 42px; /* reduce height */
  padding: 6px 12px; /* tighter padding */
  font-size: 14px;
  flex: 1;
}
.result-font {
  font-size: 12px;
}

.copy-btn {
  background-color: hsl(180, 66%, 49%);
  border: none;
  font-size: 12px;
  color: white;
}

.copy-btn:hover {
  background-color: hsl(180, 79%, 77%);
  color: white;
}

.copied-btn {
  background-color: hsl(257, 27%, 26%);
}

.short-url {
  color: hsl(180, 66%, 49%);
}

.error-font {
  font-size: 11px;
}

.placeholder-red::placeholder {
  color: #dc3545;
  opacity: 0.9;
}

.custom-button {
  height: 42px; /* reduce height */
  padding: 6px 12px; /* tighter padding */
  font-size: 14px;
}

.custom-width {
  max-width: 400px;
}

/* .line-connector {
  height: 2px;
  background-color: hsl(180, 66%, 49%);
  z-index: 1;
} */

.line-wrapper {
  position: relative;

  display: flex;
  z-index: 0;
}

.line-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;
  right: 12px;
  height: 6px;
  background-color: hsl(180, 66%, 49%);

  z-index: 0;
}

.line-wrapper > div {
  position: relative;
  z-index: 1;
}

.line-wrapper > div:nth-child(2) {
  transform: translateY(40px);
  /* margin-top: 40px; */
}

.line-wrapper > div:nth-child(3) {
  transform: translateY(80px);
  /* margin-top: 80px; */
}

@media (max-width: 768px) {
  .line-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .line-wrapper::before {
    top: 0;
    bottom: 0;
    left: 50%;
    right: auto;
    width: 6px;
    height: 100%;
    transform: translateX(-50%);
  }

  .pb-mobile {
    padding-bottom: 6rem;
  }

  /*  */
}

.my-flex-box {
  width: 80%;
}

.custom-div {
  padding: 1.5rem;
}

.card-box {
  text-align: center;
  font-size: 14px;
}

.circle-background {
  width: 60px;
  height: 60px;
  background-color: hsl(257, 27%, 26%);
  z-index: 10;
}

.icon-circle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-circle img {
  width: 80%;
  object-fit: none;
  object-position: top left;
}

.circle-position {
  left: 25%;
}

@media (max-width: 768px) {
  .circle-position {
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
  }

  /* .circle-position {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  } */
}

.p-6 {
  padding: 4rem;
}
.p-top {
  padding: 4rem 0px;
}
.padding-x {
  padding: 0 6rem !important;
}

.gap-6 {
  gap: 4rem;
}

.bg-custom-light {
  background-color: hsl(240, 67%, 97%);
}

.image-wrapper {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  /* overflow: hidden; */
  /* height: auto; */
}

.image-wrapper img {
  max-width: 600px;
  z-index: 2;
  /* max-width: 120%; */
  transform: translateX(10%);
}

@media (max-width: 768px) {
  .image-wrapper img {
    max-width: 1000px;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* max-width: 120%; */
    transform: translateX(10%);
  }
}

/* .image-wrapper img {
  position: absolute;
  right: -10%;
  top: 0;
  max-width: none;
  width: 120%;
} */

.hero-img {
  position: absolute;

  top: 10px;
  right: -10px;

  width: 200px;
}

.footer-background {
  background-color: hsl(258, 22%, 12%);
}

.text-tight {
  line-height: 0.7 !important;
}

footer li {
  color: hsl(257, 7%, 63%);
}

footer li:hover {
  color: hsl(180, 66%, 49%);
  cursor: pointer;
}

i {
  cursor: pointer;
}

i:hover {
  color: hsl(180, 66%, 49%);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-links {
  display: flex;
  gap: 3rem;
  flex: 1;
}

@media (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-wrapper > div {
    width: 100%;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .footer-icons,
  .footer-col {
    justify-content: center !important;
  }

  .pad-x {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.footer-icons {
  display: flex;
  gap: 1rem;
}
